#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: rgb(38, 42, 50);
}
/* body {
  background-color: whitesmoke;
} */
.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.navContainer {
  background-color: rgb(211, 185, 137);
  border: solid;
}

.list {
  display: flex;
  gap: 1rem;
}
.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}
.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}

/* Highchart CSS */

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 100rem;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #d39b23;
}

/* Add this CSS for the modal */
.modal {
  display: none;
  --bs-modal-width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  overflow: hidden;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

/* Add CSS for styling the people */
.person {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

.mindusteklasse {
  display: none;
}
.custom-backdrop {
  background-color: transparent !important; /* Set the backdrop to transparent */
}

/* myLogin.css */
.image-container {
  text-align: center;
}

.lb-image {
  width: 300px; /* Set the image width */
  border-radius: 50%; /* Make the image circular */
  border: 1px solid #ffffff; /* Add a white border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
}

/* Additional styling can be applied as needed */
